<h1>SafeSpace</h1>

<!--link to about-->
<div><%= link_to "About", home_about_path %></div>
<!--link to contact pages-->
<div><%= link_to "Contact", home_contact_path %></div>


<p>An anonymous, peer-led chat for UC Berkeley undergraduate students to comfortably share their similar mental health issues in a virtual environment.</p>

<!--button for sign up-->
<!--button for sign in-->
