.horizontal-align {
  display:flex;
  align-items:center;
}

.online-status-indicator {
	border-radius: 50%;
	width: 6px;
	height: 6px; 
	background: #4CAF50;
	margin-right: 5px;
}

.offline-status-indicator {
	border-radius: 50%;
	width: 6px;
	height: 6px; 
	background: rgba(0, 0, 0, 0.38);
	margin-right: 5px;
}